@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body{
  background: linear-gradient(180deg, #44478F 0%, #35376E 100%);
}

:root{
  --main-color: #ffffff;
  --second-color: #27295f;
}

section{
  padding: 50px 10%;
}

img, video{
  width: 100%;
}

.logo img{
  width: 40px;

  display: flex;
  align-items: center;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  padding: 15px 10%;
  transition: 0.2s;

  width: 100%;
}

.navbar{
  display: flex;
}

.navbar a{
  font-size: 1rem;
  padding: 11px 20px;
  color: var(--second-color);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.navbar a:hover{
  /* color: var(--second-color); */
  transition: 0.5s;
  color: linear-gradient(180deg, #44478F 0%, #35376E 100%);
}

#menu-icon{
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  display: none;
}

*::selection{
  color: #fff;
  background: var(--main-color);
}

.home{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* background: #ebdbc8; */
  gap: 1rem;
}

.home-text{
  flex: 1 1 17rem;
}

.home-video{
  flex: 1 1 17rem;
}

.home-video video{
  animation: animate 3s linear infinite;
}


@keyframes animate{
  0%{
    transform: translate(-11px, 0);
  }
  50%{
    transform: translate(0px, -11px);
  }
  100%{
    transform: translate(-11px, 0);
  }
}

.home-text span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--main-color);
}

.home-text h1{
  font-size: 3.2rem;
  color: var(--main-color);
  font-weight: bolder;
}

.home-text h2{
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-color);
  text-transform: uppercase;
  margin: 0.5rem 0 1.4rem;
}

.btn{
  padding: 7px 16px;
  border: 2px solid var(--main-color);
  border-radius: 40px;
  color: var(--main-color);
  font-weight: 500;
}

.btn:hover{
  color: var(--second-color);
  background: var(--main-color);
}


.heading{
  text-align: left;
  text-transform: uppercase;
}

.heading span{
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-color);
}

.heading h1{
  font-size: 2rem;
  color: var(--main-color);
}

.box .btn{
  border: 2px solid #ebdbc8;
  color: #ebdbc8;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.aboutus-img,
.product-img{
  flex: 1 1 21rem;
}

.aboutus-text,
.product-text{
  flex: 1 1 21rem;
  color: var(--main-color);
}

.aboutus-text h2,
.product-text h2{
  font-size: 1.2rem;
  color: var(--main-color);
  text-decoration: underline;
}

.aboutus-text p,
.product-text p {
  margin: 0.5rem 0 1rem;
  text-align: justify;
}

/* Pricing */
.pricing-plan{
  width: 300px;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-size: 16px;
  line-height: 1.5;
  /* color: #35376E; */
  margin: 15px;
}

.pricing-plan--hightlighted{
  box-shadow:  0 0 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.11);
  /* background: rgba(67, 70, 141, 1); */
}

.pricing-plan--hightlighted .pricing__actions, .pricing-plan--hightlighted .pricing__header{
  background: rgba(67, 70, 141, 1);
}

.pricing-plan--hightlighted .pricing__title, .pricing-plan--hightlighted .pricing__text{
  color: rgba(248, 240, 246, 1);
  ;
}

.pricing-plan--hightlighted .pricing__cost{
  color: rgba(235, 197, 0, 1);
  ;
}

.pricing-plan--hightlighted .pricing__button{
  background: rgba(235, 197, 0, 1);
}

.pricing__header{
  padding: 25px;
  /* background: rgba(255, 255, 255, 1); */
  /* color: #35376E; */

  color: rgba(67, 70, 141, 1);
  background: rgba(255, 255, 255, 1);
}

.pricing__title{
  margin: 0;
  text-align: center;
}

.pricing__description{
  padding: 0 0 20px 0;
}

.pricing__list{
  padding: 0;
  margin: 0;
}

.pricing__feature{
  margin: 0;
  padding-left: 25px;
  position: relative;
  font-size: 0.9em;
  color: rgba(181, 175, 175, 1);
}

.pricing__feature:not(:last-child){
  margin-bottom: 0.5em;
}

.pricing__feature::before{
  content: "\2714";
  color: rgba(235, 197, 0, 1);
  position: absolute;
  left: 0;
}
.pricing__actions{
  padding: 25px;
  border-top: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
}

.pricing__button{
  display: inline-block;
  margin: 15px auto;
  padding: 15px 35px;
  text-decoration: none;
  color: rgba(248, 240, 246, 1);
  background: #43468D;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.pricing__button:hover{
  color: #ffffff;
  background: #35376E;
}

.pricing__cost{
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(181, 175, 175, 1);
}

.pricing__text{
  text-align: center;
  font-size: 0.9em;
  margin: 50px 0 0 0;
  color: rgba(67, 70, 141, 1);
}

.pricing-plan-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* Blog */

.blog{
  display: flex;
  flex-direction: column;
}


.blog p, .contact p{
  color: var(--main-color);
}


/* Contact */

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: rgba(255, 255, 255, 1);
}

label{
  font-weight: bold;
}

input[type=submit] {
  background-color: rgba(67, 70, 141, 1);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

input[type=submit]:hover {
  background-color: var(--main-color);
  color: var(--second-color);
  font-weight: 700;
}

.container-contact {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 30px 50px;
  width: 100%;
}

.container-contact h1{
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #43468D;
}
.container-contact p{
  text-transform: none;
  color: rgba(103, 116, 142, 1);
  margin: 20px 0 35px 0;
  display: flex;
  align-items: center;
  text-align: center;
}


/* Footer */
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  /* padding: 70px 0; */
  padding: 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}




/* Responsive */
@media (max-width:1150px) {
  header{
    padding: 18px 7%;
  }

  section{
    padding: 50px 7%;
  }

  .home-text h1{
    font-size: 3rem;
  }
  .home-text h2{
    font-size: 1.5rem;
  }
}

@media (max-width:991px) {
  header{
    padding: 18px 4%;
  }

  section{
    padding: 50px 4%;
  }
}

@media (max-width:775px){
  .pricing-plan-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pricing-plan--hightlighted{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: none;
  }
}



@media (max-width:768px) {
  header{
    padding: 11px 4%;
  }
  #menu-icon{
    display: initial;
  }

  header .navbar{
    position: absolute;
    /* top: 100%; */
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
    border-top: 2px solid var(--main-color);
    transition: 0.2s;
    text-align: left;
  }
  .navbar.active{
    top: 100%;
  }
  .navbar a{
    padding: 1.5rem;
    display: block;
    color: var(--second-color);
  }

  .home-text span{
    font-size: 0.9rem;
  }
  .home-text h1{
    font-size: 2.4rem;
  }
  .home-text h2{
    font-size: 1.2rem;
  }
}

@media (max-width:768px) {
  .home-text{
    padding-top: inherit;
  }
  .pricing-container .box{
    margin-top: 6rem;
  }
  .heading h1{
    font-size: 1.5rem;
  }
  .heading span{
    font-size: 0.9rem;
  }
  .about{
    flex-direction: column-reverse;
  }
}

@media (max-width:364px) {
  .links{
    display: flex;
    flex-direction: column;
  }
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
  .credit{
    flex-direction: column;
  }
}